<nav class="navbar main-header">
  <div class="container">
    <div class="navbar-brand"><a href="{{ site.url }}" class="site-title">{{ site.name }}</a></div>

    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{{ site.url }}">Home</a>
        <a class="navbar-item" href="{{ site.url }}/projects">Projects</a>
        <a class="navbar-item" href="{{ site.url }}/resume">Resume</a>
        <a class="navbar-item" href="{{ site.url }}/feed.xml">RSS</a>
      </div>
    </div>
  </div>
</nav>

