.resume{
  padding: 1rem 0rem;
  .image.profile>img{
    width: 100%;
    height: auto;
  }

  .title.resume-title{
    margin: .5rem 0;
  }

  .secondary-section>section{
    padding: .5rem 2rem;
    .title{
      margin-left: -.5rem;

    }
  }

  .social-media-list{
    i {
      vertical-align: middle;
    }
  }
}